/* Remove all existing margins */
section h3,
p {
   margin: 0;
}

/* Detailed section styles */
section p {
   opacity: 70%;
}

section h3 {
   font-weight: 500;
}

.desc-black p,
.desc-white p {
   opacity: 50%;
}

section h2 {
   font-size: 1.246rem;
   font-weight: 600;
   margin-bottom: 1.2rem;
}

.comment {
   margin-bottom: 0;
}

.comment p {
   line-height: 1.4;
   font-size: 0.82rem;
}
